.icon {
  margin-left: 8px;
  display: block;
}

.book-icon {
  width: 20px;
  height: 22px;
}

.article-link-icon,
.pdf-icon {
  width: 15px;
  height: 22px;
}

.article-alert-icon {
  width: 18px;
  height: 26px;
}
