<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Library Page</title>
  <link href="./homepage.css" rel="stylesheet">
</head>
<body>
<main class="main-landing-page display-flex flex-column flex-layout-center-center">
  <div class="menu-container width-100">
    <ul role="list" class="menu width-100">
      <li role="listitem">
        <a id="Opening_hours_link" aria-label="Opening hours" role="link">
          <div class="icon display-flex">
            <img alt="" src="assets/images/homePageImages/clock.svg">
          </div>
          <span>Opening hours</span>
        </a>
      </li>
      <li role="listitem">
        <a id="FAQ_link" aria-label="FAQ" role="link">
          <div class="icon display-flex">
            <img alt="" src="assets/images/homePageImages/search.svg">
          </div>
          <span>FAQ</span>
        </a>
      </li>
      <li role="listitem">
        <a id="Ask_a_librarian_link" aria-label="Ask a librarian" role="link">
          <div class="icon display-flex">
            <img alt="" src="assets/images/homePageImages/book.svg">
          </div>
          <span>Ask a librarian</span>
        </a>
      </li>
      <li role="listitem">
        <a id="Search_tips_link" aria-label="Search tips" role="link">
          <div class="icon display-flex">
            <img alt="" src="assets/images/homePageImages/comp_search.svg">
          </div>
          <span>Search tips</span>
        </a>
      </li>
      <li role="listitem">
        <a id="Study_room_link" aria-label="Study room" role="link">
          <div class="icon display-flex">
            <img alt="" src="assets/images/homePageImages/book.svg">
          </div>
          <span>Study room</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-row flex-layout-space-between width-100 welcome-announcements-container">
    <div class="welcome display-flex flex-column flex-layout-start">
      <h2 aria-level="2" role="heading" class="welcome-title mat-headline-medium ">Welcome to the library</h2>
      <span class="welcome-content">Access your account by signing in and enabling more capabilities</span>
      <a id="myLibraryCard" tabindex="0" aria-label="Go to my library card" role="link">Go to my library card</a>
    </div>
    <div class="announcements display-flex flex-column">
      <header class="flex-column gap-1">
        <h2 class="mat-title-medium" role="heading" aria-level="2">Announcements:</h2>
        <h3 role="heading" aria-level="3" class="announcements-item-title mat-headline-medium">New library resources</h3>
      </header>
      <article>
        <p class="mat-body-large">Lorem ipsum dolor sit amet consectetur. Varius ipsum amet elit convallis. Egestas arcu volutpat morbi urna
          cursus amet.</p>
      </article>

    </div>
  </div>

  <div class="about display-flex width-100">
    <div class="about-content flex-row">
      <div class="about-text flex-column flex-space-between ">
        <h2 role="heading" aria-level="2" class="about-text-title mat-headline-large">About the Library</h2>
        <p class="about-text-description">
          Primo provides a simple, one-stop search
          platform for books and e-books, videos,
          articles, digital media, and more.</p>
        <div class="help-sign-in-container flex-column gap-05">
          <span>Primo also helps you manage your research. Sign in to:</span>
          <ul role="list">
            <li role="listitem">
              <img alt="Library image" src="assets/images/homePageImages/success.svg">
              <span> Reserve and renew books</span>
            </li>
            <li role="listitem">
              <img alt="Library image" src="assets/images/homePageImages/success.svg">
              <span> Create favorites lists</span></li>
            <li role="listitem">
              <img alt="Library image" src="assets/images/homePageImages/success.svg">
              <span> Reserve and renew books</span></li>
            <li role="listitem">
              <img alt="Library image" src="assets/images/homePageImages/success.svg">
              <span> View full search results</span></li>
          </ul>
        </div>
      </div>
      <div class="about-image flex-layout-center-center">
        <img alt="" src="assets/images/homePageImages/about_image.svg">
      </div>
    </div>
  </div>
</main>
</main>
</body>
</html>

