@use "src/app/styles/nde-variables" as vars;
@use "src/app/styles/nde-mixing" as mixing;

.main-landing-page {
    width: var(--responsiveWidth, 100%);
    margin: 0 auto;
    gap: 5rem;
    margin-block-end: 100px;

    @media (max-width: 480px) {
        .main-landing-page {
            width: 100%;
        }
    }

    .menu-container {
        .menu {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
            grid-row-gap: 1.5rem;
            grid-column-gap: 1rem;
        }
    }

    .menu-container .menu li a {
        background-color: var(--sys-inverse-on-surface);
        display: flex;
        padding: 1rem;
        border: .0625rem solid var(--sys-primary);
        border-radius: .5rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: inherit;
        cursor: pointer;
        height: 100%;
        transition: box-shadow .3s, transform .3s ease-in-out;
    }

    @media (min-width: 1024px) {
        .menu-container .menu li a:hover,
        .menu-container .menu li a:focus {
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
            transform: translateY(-1.1875rem);
        }
    }

    .menu-container .menu li a .icon {
        background-color: var(--sys-inverse-on-surface);
        border-radius: 50%;
        width: 3.75rem;
        height: 3.75rem;
        align-items: center;
    }

    @media (max-width: 900px) {
        .menu-container .menu li a .icon {
            width: 2.5rem;
            height: 2.5rem;
            align-items: normal;
            justify-content: center;
        }
    }

    .menu-container .menu li a .icon-color circle {
        fill: var(--sys-primary-fixed);
    }
    .menu-container .menu li a .icon-color mask rect {
        fill: var(--sys-on-primary-fixed-variant);
    }
    .menu-container .menu li a .icon-color g path {
        fill: var(--sys-on-primary-fixed-variant);
    }

    .menu-container .menu li a span {
        margin-top: .3125rem;
        font-size: var(--bigFontSize, 1.2rem);
        font-weight: var(--bold, 700);
        display: flex;
        align-items: center;
        min-height: 2.5rem;
        text-align: center;
    }

    @media (max-width: 900px) {
        .menu-container .menu li a span {
            font-size: .88rem;
            min-height: 2.2rem;
        }
    }

    .welcome-announcements-container {
        gap: 2rem;
        display: flex;

        @media (max-width: 600px) {
            .welcome-announcements-container {
                flex-direction: column;
            }
        }

        .welcome {
            padding-block: 1rem;
            gap: 1.5rem;
            display: flex;
            flex-direction: column;

            @media (max-width: 600px) {
                .welcome {
                    padding: 0;
                }
            }

            .welcome-title {
                margin-block-end: .5rem;

                @media (max-width: 900px) {
                    .welcome-title {
                        font-size: var(--largeFontSize, 1.5rem);
                    }
                }
            }

            .welcome-content {
                font-size: var(--bigFontSize, 1.2rem);
                font-weight: var(--normal, 400);

                @media (max-width: 900px) {
                    .welcome-content {
                        font-size: var(--mediumFontSize, 1rem);
                    }
                }
            }

            a {
                padding-block: .5rem;
                padding-inline: 1rem;
                border-radius: 2rem;
                background-color: var(--sys-primary);
                color: var(--whiteText, #fff);
                font-weight: var(--bold, 700);
                font-size: var(--bigFontSize, 1.2rem);
                font-family: inherit;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease;
                text-decoration: none;

                @media (max-width: 900px) {
                    a {
                        font-size: var(--mediumFontSize, 1rem);
                    }
                }

                &:hover {
                    background-color: var(--sys-surface-tint);
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 2px white, 0 0 0 3px #000000;
                }
            }
        }

        .announcements {
            background-color: var(--sys-inverse-on-surface);
            padding: 1.5rem;
            border-radius: .5rem;
            border: .0625rem solid var(--sys-primary);
            max-width: 32.6875rem;
            gap: 1rem;
            display: flex;
            flex-direction: column;

            @media (max-width: 600px) {
                .announcements {
                    padding: 1rem;
                    gap: 1rem;
                    max-width: none;
                }
            }

            .announcements-item-main-title {
                font-size: var(--mediumFontSize, 1rem);
                font-weight: var(--normal, 400);
                line-height: 2rem;
            }

            .announcements-item-title {
                color: var(--darkText, #222);

                @media (max-width: 900px) {
                    .announcements-item-title {
                        font-size: var(--largeFontSize, 1.5rem);
                    }
                }
            }
        }
    }

    .about {
        .about-content {
            display: flex;

            @media (max-width: 600px) {
                .about-content {
                    flex-direction: column-reverse;
                }
            }

            .about-text {
                padding: 2rem;
                background-color: var(--sys-inverse-on-surface);
                gap: 1.5rem;
                display: flex;
                flex-direction: column;

                @media (max-width: 600px) {
                    .about-text {
                        padding: 1rem;
                        gap: 1rem;
                    }
                }

                .about-text-title {
                    font-weight: var(--bold, 700);
                    font-size: var(--xLargeFontSize, 2rem);

                    @media (max-width: 1024px) {
                        .about-text-title {
                            font-size: var(--largeFontSize, 1.5rem);
                        }
                    }

                    @media (max-width: 600px) {
                        .about-text-title {
                            font-size: var(--largeFontSize, 1.5rem);
                        }
                    }
                }

                .about-text-description {
                    line-height: 2rem;
                    font-size: var(--largeFontSize, 1.5rem);
                    font-weight: var(--normal, 400);

                    @media (max-width: 1024px) {
                        .about-text-description {
                            font-size: var(--mediumFontSize, 1rem);
                            line-height: 1.4rem;
                        }
                    }
                }

                .help-sign-in-container {
                    font-size: var(--largeFontSize, 1.5rem);

                    @media (max-width: 1024px) {
                        .help-sign-in-container {
                            font-size: var(--mediumFontSize, 1rem);
                        }
                        .help-sign-in-container ul li {
                            margin-block: .625rem;
                        }
                    }

                    ul {
                        li {
                            margin-block: 1rem;
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                        }
                    }
                }
            }

            .about-image {
                img {
                    width: auto;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0 .625rem .625rem 0;

                    @media (max-width: 600px) {
                        img {
                            border-radius: .625rem .625rem 0 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}