<!-- @if(displayInfo$ | async; as displayInfo){
<span>
  @if(displayInfo.mainUrl !== '') {
  <main-button class="ti-single-button" [url]="displayInfo.mainUrl" [buttonType]="displayInfo.mainButtonType">
  </main-button>
  }
  @if(displayInfo.showSecondaryButton && displayInfo.secondaryUrl) {
  <article-link-button class="ti-single-button" [url]="displayInfo.secondaryUrl || ''"
    class="ti-single-button"></article-link-button>
  }
  @if(displayInfo.showBrowzineButton && displayInfo.browzineUrl) {
  <custom-browzine-button class="ti-single-button" [entityType]="displayInfo.entityType" [url]="displayInfo.browzineUrl"
    class="ti-single-button"></custom-browzine-button>
  }
</span>
}
@else { -->
<span class="ti-loading-container">
  <div class="ti-loading-placeholder">
    <div class="ti-loading-spinner"></div>
    <div class="ti-loading-text">Loading buttons...</div>
  </div>
</span>
<!-- } -->