#ti-custom-button {
  border-radius: 0.3125rem;
  background-color: #fff;
  border: 1px solid var(--sys-primary);
  color: var(--sys-primary);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.25rem;
  margin-right: 8px;
  height: 32px;
  line-height: 32px;

  .ti-custom-button-text {
    display: flex;
    align-items: center;
  }
}

#ti-custom-button:focus {
  background-color: var(
    --mat-standard-button-toggle-selected-state-background-color
  );
}
