<!-- Basic "Available Online" button -->
<button _ngcontent-ng-c1715216492="" mat-button="" color="primary" type="button"
  class="quicklink-button mat-body-medium mdc-button mat-mdc-button mat-primary mat-mdc-button-base"
  mat-ripple-loader-class-name="mat-mdc-button-ripple" [attr.aria-label]="buttonInfo().ariaLabel"
  style="--mdc-icon-button-icon-size: 1rem;">
  <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
  <span class="mdc-button__label">
    <span _ngcontent-ng-c1715216492="">{{buttonInfo().buttonText}}</span>
  </span>
  <span class="mat-focus-indicator"></span>
  <span class="mat-mdc-button-touch-target" style=""></span>
  <span class="mat-ripple mat-mdc-button-ripple"></span>
</button>
