// used in stacked-dropdown.component to override some Angular Material select styles
.dropdown-group {
  display: inline-flex;
  position: relative;
  margin-top: 0.25rem;

  .mat-mdc-unelevated-button:not(:disabled) {
    background-color: #fff;
    color: var(--sys-primary);
  }

  .ti-dropdown-button {
    border-radius: 0.3125rem 0 0 0.3125rem;
    background-color: #fff;
    border: 1px solid var(--sys-primary);
    border-right: none;
    color: var(--sys-primary);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .quicklink-primo-pdf-icon {
      display: flex !important;
    }

    .quicklink-button-icon {
      height: 20px;
      width: 20px;
      margin-right: var(--mat-text-button-icon-offset, -4px);
      margin-left: var(--mat-text-button-icon-spacing, 8px);
    }

    .mdc-button__label {
      display: flex;
      align-items: center;
      justify-content: center;
      .quicklink-button-text {
        font-size: 14px;
      }
    }
  }

  .ti-dropdown-button:focus-visible {
    outline: 2px solid black;
    border-right: 2px solid black;
    background-color: var(
      --mat-standard-button-toggle-selected-state-background-color
    );
  }

  .ti-dropdown-button:hover {
    background-color: var(
      --mat-standard-button-toggle-selected-state-background-color
    );
  }

  .ti-dropdown {
    position: relative;

    .ti-dropdown-toggle {
      border: 1px solid var(--sys-primary);
      background: #fff;
      color: var(--sys-primary);
      padding: 0.5em 13em 0.5em 13em;
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      font-size: 1px;

      .mat-mdc-select-arrow {
        color: var(--sys-primary);
        transition: color 0.2s ease;
        transform: scale(0.95);
      }

      .dropdown-toggle-icon {
        --mdc-icon-button-icon-size: 0.75rem;
      }
    }

    .ti-dropdown-toggle:focus-visible {
      outline: 2px solid black;
      background-color: var(
        --mat-menu-item-hover-state-layer-color,
        rgba(0, 0, 0, 0.04)
      );
    }

    .ti-dropdown-toggle:hover {
      background-color: var(
        --mat-menu-item-hover-state-layer-color,
        rgba(0, 0, 0, 0.04)
      );
    }
  }
}

.cdk-overlay-container div.mat-mdc-select-panel {
  min-width: 112px;
  max-width: 280px;
  width: auto;
  overflow: auto;
  box-sizing: border-box;
  outline: 0;
  animation: _mat-menu-enter 120ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: var(
    --mat-menu-container-shape,
    var(--mat-sys-corner-extra-small)
  );
  background-color: var(
    --mat-menu-container-color,
    var(--mat-sys-surface-container)
  );
  box-shadow: var(
    --mat-menu-container-elevation-shadow,
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  );
  will-change: transform, opacity;

  .mat-mdc-option {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    min-height: 48px;
    margin: 0;
    padding: 0;
    padding-left: var(--mat-menu-item-leading-spacing, 12px);
    padding-right: var(--mat-menu-item-trailing-spacing, 12px);
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
    color: var(--sys-primary);
    font-size: 14px;
    font-weight: 500;
    background: none;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .ti-dropdown-option-button {
    margin: 0;
    padding: 0;
    color: var(--sys-primary);
    font-size: 14px;
    font-weight: 500;
    background: none;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
      .mat-mdc-option-multiple
    ) {
    background-color: inherit;
  }

  .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    outline: none;
  }

  .mat-mdc-option:focus-visible {
    outline: 2px solid black !important;
    background-color: var(
      --mat-menu-item-hover-state-layer-color,
      rgba(0, 0, 0, 0.04)
    ) !important;
  }

  .mat-mdc-option:not([disabled]):hover {
    background-color: var(
      --mat-menu-item-hover-state-layer-color,
      rgba(0, 0, 0, 0.04)
    );
  }

  .mat-mdc-option-active:hover {
    background-color: var(
      --mat-menu-item-hover-state-layer-color,
      rgba(0, 0, 0, 0.04)
    ) !important;
  }

  .mat-mdc-option-active:focus-visible {
    outline: 2px solid black !important;
    background-color: var(
      --mat-menu-item-hover-state-layer-color,
      rgba(0, 0, 0, 0.04)
    ) !important;
  }
}
