<!-- Basic "Available Online" button -->
@if(buttonInfo().buttonText !== '') {
<button type="button" class="ti-custom-button mat-body-medium mdc-button mat-mdc-button mat-mdc-button-base"
  mat-ripple-loader-class-name="mat-mdc-button-ripple" [attr.aria-label]="buttonInfo().ariaLabel">
  <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
  <span class="mdc-button__label">
    <span>{{buttonInfo().buttonText}}</span>
  </span>
  <custom-svg-icon [name]="buttonInfo().icon" [color]="buttonInfo().color"></custom-svg-icon>
  <!-- <custom-svg-icon name="pdf-download-icon" color="sys-error"></custom-svg-icon> -->
  <span class="mat-focus-indicator"></span>
  <span class="mat-mdc-button-touch-target"></span>
  <span class="mat-ripple mat-mdc-button-ripple"></span>
</button>
}
